.Dashsidebar{
    flex: 1;
    height: 100vh;
    background-color: rgb(243, 242, 241);
    position: sticky;
    top: 50px;
}
.dashlogo img{
    position: relative;
   margin:auto;
   text-align: center;
   border-radius: 50%;
   width: 140px;
   height: 150px;
}
.sidebarWrapper {
    padding: 30px;
    color: rgb(14, 3, 3);
    text-align: center;
  }
  
  .sidebarMenu {
    margin-bottom: 20px;
    
  }
  
  .sidebarTitle {
    font-size: 30px;
    color: black;
  }
  
  .sidebarList {
    list-style: none;
    padding: 5px;
  }
  .sidebarListItem {
    padding: 5px;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #337ab7;
    color: white;
    justify-content: center;
  }
  .edit{

      text-decoration: none;
      padding: 2%;
      background-color: aqua;
  }
  