#banner{
   padding-top:5%;
   background-image: url(./images/wave1.jpg);
   background-repeat: no-repeat;
   background-position: 100px;
   background-size:cover;
   background-position: top;
   
}
.find{
    padding: 5% 5%;
}
.find h1,h2{
    margin-left: 10%;
}
.find button{
    margin: 5% 10%;
    height:3rem;
    width: 10rem;
    border-radius: 30px;
    font-weight: 500;
    border: none;
    border: 3px solid rgb(235, 235, 235);
    box-shadow: 2px 3px 5px 2px red;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    background: red;
}
.find button:hover{
    background-color: brown;
}